.menu {
    width: 100%;
    background-color: #275263 !important;
    height: 40px;
    color: white;
}

.menu-icon {
    margin-top: -25px !important;
    margin-left: -25px !important;
}

.menu-label {
    margin-top: -22px !important;
}


.left-panel {
    width: 40px;
    background-color: #efefef;
    min-height: 100vh;
}